<link rel="import" href="../polymer/polymer.html">

<custom-style>
    <style is="custom-style">
        html {
            /*abas UI color palette total*/

            --abas-black: #000000;
            --abas-outer-space: #2a3539;
            --abas-abbey: #555d61;
            --abas-rolling-stone: #777d81;
            --abas-silver: #cccccc;
            --abas-mercury: #e5e5e5;
            --abas-white: #ffffff;
            --abas-aqua-haze: #f0f4f7;
            --abas-catskill-white: #e9f2f5;
            --abas-apple-green: #e4f5f2;
            --abas-bermuda: #76d6c8;
            --abas-mountain-meadow: #1bbba3;
            --abas-astral: #307b96;
            --abas-fountain-blue: #57a0ba;
            --abas-la-palma: #13ab0e;
            --abas-tara: #ebfaeb;
            --abas-amaranth: #e42346;
            --abas-mandy: #e94f6b;
            --abas-froly: #ef7b90;
            --abas-wisp-pink: #fce8ec;
        }
    </style>
</custom-style>
