<link rel="import" href="../polymer/polymer.html">
<!--<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />-->
<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/solid.css" integrity="sha384-S2gVFTIn1tJ/Plf+40+RRAxBCiBU5oAMFUJxTXT3vOlxtXm7MGjVj62mDpbujs4C" crossorigin="anonymous">-->
<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/fontawesome.css" integrity="sha384-0b7ERybvrT5RZyD80ojw6KNKz6nIAlgOKXIcJ0CV7A6Iia8yt2y1bBfLBOwoc9fQ" crossorigin="anonymous">-->


<!--<link rel="import" href="../google-open-sans/open-sans">-->
<!--<link rel="import" href="../components-font-awesome/webfonts/">-->

<custom-style>
    <style is="custom-style">

        @font-face {
            font-family: OpenSans;
            src: url('../google-open-sans/open-sans/regular.ttf') format('truetype');
            src: url('../google-open-sans/open-sans/regular.eot');
            src: url('../google-open-sans/open-sans/regular.eot?#iefix') format('embedded-opentype');
            src: url('../google-open-sans/open-sans/regular.woff') format('woff');
            src: url('../google-open-sans/open-sans/regular.svg##open-sans') format('svg');
            /* for system compatibility */
            font-weight: normal; /* 400 */
            font-style: normal;
        }

        @font-face {
            font-family: FontAwesome;
            src: url('../components-font-awesome/webfonts/fa-solid-900.woff');
            src: url('../components-font-awesome/webfonts/fa-solid-900.eot');
            src: url('../components-font-awesome/webfonts/fa-solid-900.eot?#iefix') format('embedded-opentype');
            src: url('../components-font-awesome/webfonts/fa-solid-900.ttf') format('truetype');
            src: url('../components-font-awesome/webfonts/fa-solid-900.svg##font-awesome-solid') format('svg');
            /* for system compatibility */
            font-weight: normal; /* 400 */
            font-style: normal;
        }

        html {
            /* Shared Styles */
            --font-opensans-base: {
                font-family: OpenSans, sans-serif;
                -webkit-font-smoothing: antialiased;
            };
            --font-awesome-base: {
                font-family: FontAwesome, sans-serif;
                -webkit-font-smoothing: antialiased;
            };
            --font-common-expensive-kerning: {
                text-rendering: optimizeLegibility;
            };
            --font-common-nowrap: {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            };
            /* Abas Font Styles */
            --font-opensans-xxl: {
                @apply (--font-opensans-base);
                @apply (--font-common-nowrap);
                font-size: 20px;
                font-size: 1.25rem;
                font-weight: 300;
            };
            --font-opensans-xl: {
                @apply (--font-opensans-base);
                @apply (--font-common-nowrap);
                font-size: 18px;
                font-size: 1.125rem;
                font-weight: 300;
            };
            --font-opensans-l: {
                @apply (--font-opensans-base);
                font-size: 16px;
                font-size: 1rem;
                font-weight: 300;
            };
            --font-opensans-m: {
                @apply (--font-opensans-base);
                font-size: 14px;
                font-size: 0.875rem;
                font-weight: 300;
            };
            --font-opensans-s: {
                @apply (--font-opensans-base);
                font-size: 12px;
                font-size: 0.75rem;
                font-weight: 300;
            };
            --font-awesome-xxl: {
                @apply (--font-awesome-base);
                @apply (--font-common-nowrap);
                font-size: 20px;
                font-size: 1.25rem;
                font-weight: 300;
            };
            --font-awesome-xl: {
                @apply (--font-awesome-base);
                @apply (--font-common-nowrap);
                font-size: 18px;
                font-size: 1.125rem;
                font-weight: 300;
            };
            --font-awesome-l: {
                @apply (--font-awesome-base);
                font-size: 16px;
                font-size: 1rem;
                font-weight: 300;
            };
            --font-awesome-m: {
                @apply (--font-awesome-base);
                font-size: 14px;
                font-size: 0.875rem;
                font-weight: 300;
            };
            --font-awesome-s: {
                @apply (--font-awesome-base);
                font-size: 12px;
                font-size: 0.75rem;
                font-weight: 300;
            };
        }
    </style>
</custom-style>
